* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: px;
  text-align: center;
  color: white;
  

}

body {
    background-color: rgb(1, 78, 78);

}

p {
    text-align:center;
}

section {

    background-color: rgb(20, 187, 159);
    padding: auto;
    margin: auto;
    height: 400px;
    width: 500px;
    
}

p  {
    padding-top: 10px;
    
}

div.img {
    margin: auto;
    padding: 0%;
}