* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

body {
    background-color: rgb(83, 6, 155);
    color: antiquewhite;
}

div {
    margin: auto;
    padding: 5px;
    text-align: left;
    background-color:rgb(120, 34, 201);

    margin-left: 25%;
    margin-right: 25%;

}

div >  p  {
    color: rgb(224, 219, 219);
    font: 200;
    text-align: left;
}

div#idade {
    background-color: rgb(163, 63, 16);
}

div#residade {
    background-color: rgb(163, 63, 16);
}