body{
background: rgb(109, 109, 255);
font: normal 15pt  black ARIAL;
text-align: center;


}

header{
    color: white;

}

section{

    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width:500px;
    margin: auto;
    box-shadow: 3px 3px  5px black;
    color: black;
    text-align: left;
}

footer{
    font: normal 15pt white italic;
    text-align: center;

}

div{
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;

    
}